<!DOCTYPE html>
<html>

<head>
    <title>Product Items</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;

        }

        .container 
        {
            background-size: cover;
            background-position: center; 
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border: 1px solid rgb(213, 221, 255);
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center
        }

        .product {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        .product h4 
        {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            text-align: center;
        }


        .horizontal 
        {
            display: flex;
            justify-content: center;
            
            text-align:center
        }

        .rescev {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #06003e;
        }

        .order 
        {
            display: flex;
            justify-content: center;
            align-items: center;

        }


        .orderid 
        {
        display:inline-block;
        align-items: center;
        margin-bottom: 20px;

        }

        .date 
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .date h4 {
            color: #9c7802;
        }

        .orderid h4 {
            color: #9c7802;

        }

        h5 {
            font-weight: normal;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        p {
            text-align: center;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .summery {
            text-align: center;
            color: #06003e
        }

        .tablecontent {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .table
        {

        }

        /* .social 
        {
            display: block;
            margin-left:60%;
            margin-right: auto;
            
        } */




        table 
        {

        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        margin-left: 50px;
        align-items: center;
    

        }
        label
        {

        }

        td {
          border: 1px solid rgb(213, 221, 255);
        padding: 8px;
        text-align: left;
        border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }


        .body1 {
            position: relative;

        }

        .marq text {
            align-items: center;
        }

        .image1 {
            margin-left: 10%;
            height: 300;
            width: 250;
        }
    </style>
</head>

<body>

    <div class="container">

        <div style="text-align: center;">
            <img src="https://i.ibb.co/pLRkFTL/Screenshot-2023-08-31-124256.jpg" alt="logo" height="200">
        </div>
        <div style="text-align: center;">
            <h4 style="margin: 0; padding: 10px;">Phone || laptop || Fashion || footwear || Jewellery || Furniture</h4>
        </div>
        <div style="text-align: center;padding:0px" >
            <img src="https://i.ibb.co/sP54rpm/Screenshot-2023-08-31-131834.jpg" alt="horizontal" width="80 "
                height="10">
            <img src="https://i.ibb.co/RNzrS35/Screenshot-2023-08-31-133244.jpg" alt="horizontal" width="80 "
                height="10">
            <img src="https://i.ibb.co/sP54rpm/Screenshot-2023-08-31-131834.jpg" alt="horizontal" width="80 "
                height="10">
            <img src="https://i.ibb.co/RNzrS35/Screenshot-2023-08-31-133244.jpg" alt="horizontal" width="80 "
                height="10">
            <img src="https://i.ibb.co/sP54rpm/Screenshot-2023-08-31-131834.jpg" alt="horizontal" width="80 "
                height="10">
            <img src="https://i.ibb.co/RNzrS35/Screenshot-2023-08-31-133244.jpg" alt="horizontal" width="80 "
                height="10">
            <img src="https://i.ibb.co/sP54rpm/Screenshot-2023-08-31-131834.jpg" alt="horizontal" width="80 "
                height="10">
        </div>
        <br><br>
        <div style="text-align: center;">

            <h3>WE HAVE RECEVED YOUR ORDER </h3>
        </div>

        <div style="text-align: center;">
            <img src="https://i.ibb.co/FxTGC9n/shopping-cart-2.png" alt="order" width="50" height="50"
                style="margin: 10px 50px">
            <img src="https://i.ibb.co/02NJLKm/delivery-truck.png" alt="order" width="50" height="50"
                style="margin: 0px 50px">
            <img src="https://i.ibb.co/t8R0nbH/order.png" alt="order" width="50" height="50" style="margin: 0px 50px">
        </div>
        <br><br>
        <br><br>
        <br><br>
        <div style="text-align: center;">
            
            <h4>orderId:#kL{{view2.dataValues.id}}</h4></li>
            <h4>Date:date:1-8-2023</h4></li>
            
        </div>
        <div class="content">

            <h5>
                <p> Ucart recognized the untapped potential of e-commerce in India.<br>The founders astutely identified
                    the challenges of traditional retail, <br>such as limited access to a variety of
                    products<br>Flipkart's story is one of visionary entrepreneurship, innovation, and cultural
                    adaptation.<br> By reshaping how Indians shop, the platform has contributed significantly to the
                    growth of e-commerce in India. <br>As the company continues to evolve under the Walmart umbrella,
                    its legacy as a pioneer in the Indian e-commerce sphere remains firmly established.</p>
            </h5>
        </div>
        <div class="body2">
        </div>
        <div class="body3">
            <div class="bod4">
                <div class="summery">

                    <h3>ORDER SUMMARY</h3>

                   <div style="text-align: center;">
  {{!-- <div style="display: inline-block;"> --}}
    <img src="https://i.ibb.co/sP54rpm/Screenshot-2023-08-31-131834.jpg" alt="horizontal" width="80" height="10" >
    <img src="https://i.ibb.co/RNzrS35/Screenshot-2023-08-31-133244.jpg" alt="horizontal" width="80" height="10" >
    <img src="https://i.ibb.co/sP54rpm/Screenshot-2023-08-31-131834.jpg" alt="horizontal" width="80" height="10">
  </div>
</div>
                </div>
                <br>
                <br>
                <div class="tablecontent">
                    <img src="https://i.ibb.co/M99FVQh/Screenshot-2023-08-31-155926.jpg" width="20%" height="20%"
                        style="margin: 10 50px">
                    <div class="table" style="display: block;margin">
                        <table style="margin: 1px 50px">
                            <tr>
                                <td><label>Total Amount:</label></td>
                                <td>{{view2.dataValues.TotalPrice}}</td>
                            </tr>
                            <tr>
                                <td><label>items:</label></td>
                                <td>{{view2.dataValues.quantity}}</td>
                            </tr>
                            <tr>
                                <td><label>status:</label></td>
                                <td>{{view2.dataValues.status}}</td>
                            </tr>
                            {{#each view2.dataValues.order_items}}
                            <tr>
                                <td><label>productname:</label></td>
                                <td>{{this.dataValues.product.dataValues.ProductName}}</td>
                            </tr>
                             <tr>
                                <td><label>price:</label></td>
                                <td>{{this.dataValues.subtotal}}</td>
                            </tr>
                        </table>


                        <div>

                            {{/each}}
                        </div>
                    </div>

                </div>

            </div>
</body>

</html>